:root {
  --primary-color: #fbff4b;
  --primary-hover: #d1d600;
  --primary-border: #d8c00e;

  --background-white: #fff;
  --background-gray: #e8e8e8;

  --background-black: #1a1a1a;
  --background-light-black: #222;

  --text-primary-light: #efefef;
  --text-primary-dark: #1a1a1a;
  --text-secondary-light: #cfcfcf;
  --text-secondary-dark: #515151;
  --text-tertiary-light: #8c8c8c;
  --text-tertiary-dark: #464646;

  --disabled-light: #c0c0c0;
  --disabled-dark: #333;

  --border-primary: #313131;

  --font-size-h1: 72px;
  --font-size-h2: 64px;
  --font-size-h3: 56px;
  --font-size-h4: 48px;
  --font-size-h5: 36px;
  --font-size-h6: 32px;

  --font-size-body1: 24px;
  --font-size-body2: 20px;
  --font-size-body3: 18px;
  --font-size-body4: 16px;
  --font-size-body5: 14px;

  --font-size-caption: 12px;

  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
